<div data-theme="cupcake" class="hero min-h-screen" style="background-image: url(https://placeimg.com/1000/800/arch);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div>
            <div class="overflow-x-auto">
                <table class="table table-compact w-full">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-gray-800 font-bold text-base">Name</th>
                            <th class="text-gray-800 font-bold text-base">User ID</th>
                            <th class="text-gray-800 font-bold text-base">Email</th>
                            <th class="text-gray-800 font-bold text-base">Date of Birth</th>
                            <th class="text-gray-800 font-bold text-base">Gender</th>
                            <th class="text-gray-800 font-bold text-base">Mobile no.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users$ | async">
                            <th></th>
                            <td class="text-neutral font-bold text-base">{{user.userName}}</td>
                            <td class="text-neutral font-bold text-base">{{user.userId}}</td>
                            <td class="text-neutral font-bold text-base">{{user.email}}</td>
                            <td class="text-neutral font-bold text-base">{{user.selectedDate}}</td>
                            <td class="text-neutral font-bold text-base">{{user.gender}}</td>
                            <td class="text-neutral font-bold text-base">{{user.mobileNo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button (click)="logout()" class="btn btn-primary mt-6">Logout</button>
        </div>
    </div>
</div>