<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
        <div>
            <h1 class="text-5xl font-bold text-center mb-5">Update your <br /> password here</h1>
            <div class="mockup-phone">
                <div class="camera"></div>
                <div class="display">
                    <div class="artboard artboard-demo phone-1">
                        <div class="text-3xl text-blue-400 text-center">{{updateMsg}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <form #update="ngForm" class="card-body" (ngSubmit)="onSubmit(update)">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">User id.</span>
                    </label>
                    <input required name="userId" #userId="ngModel" type="text" placeholder="user id"
                        class="input input-bordered" ngModel />
                    <div *ngIf="userId.touched && userId.invalid" class="text-sm text-red-400 ml-2 mt-2">
                        Id is
                        required</div>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input required name="password" #password="ngModel" type="password" placeholder="password"
                        class="input input-bordered" ngModel />
                    <div *ngIf="password.touched && password.invalid" class="text-sm text-red-400 ml-2 mt-2">
                        Password
                        is
                        required</div>
                </div>
                <div class="form-control mt-6">
                    <button type="submit" class="btn btn-primary" [disabled]="!update.form.valid">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>