<div data-theme="cupcake" class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
        <div class="mr-10">
            <h1 class="text-5xl font-bold text-center mb-5">Update your <br /> password here</h1>
            <img src="assets/images/signup-image.jpg" />
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <form #update="ngForm" class="card-body" (ngSubmit)="onSubmit(update)">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text text-lg font-bold">User ID<span class="text-error"
                                *ngIf="userId.invalid">
                                *</span></span>
                    </label>
                    <input required name="userId" #userId="ngModel" type="text" placeholder="Your unique user id"
                        class="input input-bordered" ngModel />
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text text-lg font-bold">Email<span class="text-error" *ngIf="email.invalid">
                                *</span></span>
                    </label>
                    <input required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" name="email" #email="ngModel"
                        type="email" placeholder="Type your email here" class="input input-bordered" ngModel />
                    <div *ngIf="email.touched && email.invalid" class="text-lg font-bold text-error ml-2 mt-2">
                        Email is Invalid</div>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text text-lg font-bold">Password<span class="text-error"
                                *ngIf="password.invalid">
                                *</span></span>
                    </label>
                    <input required pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8,20}$" name="password"
                        #password="ngModel" type="password" placeholder="password" class="input input-bordered"
                        ngModel />
                    <div *ngIf="password.touched && password.invalid" class="text-lg font-bold text-error ml-2 mt-2">
                        Password must contain
                        <ul>
                            <li>- minimum 8 characters</li>
                            <li>- one uppercase letter</li>
                            <li>- one lowercase letter</li>
                            <li>- one digit</li>
                        </ul>
                    </div>
                </div>
                <div class="form-control mt-6">
                    <button type="submit" class="btn btn-primary" [disabled]="!update.form.valid">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>